@font-face {
    font-family: 'Opulent Brush Alt';
    src: url('../fonts/opulent/OpulentBrush.eot');
    src: url('../fonts/opulent/OpulentBrushAlt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/opulent/OpulentBrushAlt.woff2') format('woff2'), url('../fonts/opulent/OpulentBrushAlt.woff') format('woff'),
        url('../fonts/opulent/OpulentBrushAlt.ttf') format('truetype'),
        url('../fonts/opulent/OpulentBrushAlt.svg#OpulentBrushAlt') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Opulent Brush';
    src: url('../fonts/opulent/OpulentBrush.eot');
    src: url('../fonts/opulent/OpulentBrush.eot?#iefix') format('embedded-opentype'),
        url('../fonts/opulent/OpulentBrush.woff2') format('woff2'), url('../fonts/opulent/OpulentBrush.woff') format('woff'),
        url('../fonts/opulent/OpulentBrush.ttf') format('truetype'), url('../fonts/opulent/OpulentBrush.svg#OpulentBrush') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '';
    src: url('../fonts/opulent/c0379bc3a5b5d01e0926e594ac86b67b.eot');
    src: url('../fonts/opulent/c0379bc3a5b5d01e0926e594ac86b67b.eot?#iefix') format('embedded-opentype'),
        url('../fonts/opulent/c0379bc3a5b5d01e0926e594ac86b67b.woff2') format('woff2'),
        url('../fonts/opulent/c0379bc3a5b5d01e0926e594ac86b67b.woff') format('woff'),
        url('../fonts/opulent/c0379bc3a5b5d01e0926e594ac86b67b.ttf') format('truetype'),
        url('../fonts/opulent/c0379bc3a5b5d01e0926e594ac86b67b.svg#') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '';
    src: url('../fonts/opulent/dd5f166318347cde81ea9ca7e829683b.eot');
    src: url('../fonts/opulent/dd5f166318347cde81ea9ca7e829683b.eot?#iefix') format('embedded-opentype'),
        url('../fonts/opulent/dd5f166318347cde81ea9ca7e829683b.woff2') format('woff2'),
        url('../fonts/opulent/dd5f166318347cde81ea9ca7e829683b.woff') format('woff'),
        url('../fonts/opulent/dd5f166318347cde81ea9ca7e829683b.ttf') format('truetype'),
        url('../fonts/opulent/dd5f166318347cde81ea9ca7e829683b.svg#') format('svg');
    font-weight: normal;
    font-style: normal;
}
